body {
    background-color: rgb(222, 129, 86);
}
h1 {
    color: whitesmoke;
    background-color: grey;
}
p {
    color: white;
}
button {
    background-color: blue;
    color: white;
}
nav {
    padding: 1rem;
    background-color: whitesmoke;
}
.btn-primary:hover {
    background-color: blue;
    color: white;
}
div.mt-4 {
    background-image: url("https://images.pexels.com/photos/1905009/pexels-photo-1905009.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.navbar-nav input[type=text] {
    float: center;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 100px;
  }